
table.awe, td {
    margin: 12px 12px 12px 12px;
    padding: 20px 10px 20px 10px;
    border: 1px rgb(0, 0, 0) solid ;
    border-collapse: collapse;
    text-align: center;

  }
  /* #d0f1de */
.some {
   background-color: #d0f1de;
  
}
.rot td {
  text-align: center;
  width: 100px;
  white-space: no-wrap;
  padding: 9px;
  height: 110%;
  /* height: 140px; */
  /* transform: rotate(270deg); */
}
.rot td p {
  transform: rotateZ(90deg);
}

.cent td {
 width: 100px;
}

.weight {
border-right: 2px rgb(0, 0, 0) solid ;
}
.weight2 {
  border-top: 2px rgb(0, 0, 0) solid ;
}
.weight3 {
  border-right: 2px rgb(0, 0, 0) solid ; 
  border-top: 2px rgb(0, 0, 0) solid ;
}
.yesweight {
  background-color: #d0f1de;
  border-right: 2px rgb(0, 0, 0) solid ;
}